/* 마이페이지관련 메인,공통적용 */
.page_title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font: normal normal 48px 'Do Hyeon', sans-serif;
    font-weight: bold;
    color: #1b7850;
    letter-spacing: -1px;
}
/* 마이페이지 */
.contents_mypage {
    width: 1250px;
    height: 700px;
    margin: 0 auto;
    padding-top: 10px;
}
/* 마이페이지윗부분 */
.mypage_header_box {
    border: 1px solid lightgray;
    width: 1199px;
    height: 60px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 50px;
    float: left;
}
/* 마이페이지 윗부분 라벨 */
.my_page_label {
    padding-top: 10px;
    font: normal bold 25px 'Nanum Gothic', sans-serif ;
    color: gray;
}
/* 마이페이지 사이드바 */

.mypage_sidebar_box {
    border: 1px solid lightgray;
    width: 135px;
    height: 510px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-left: 15px;
    float: left;
}
  

/* 마이페이지 사이드바 메뉴 */
.mypage_side_label {
    margin-bottom: 15px;
    margin-top: 25px;
    text-align: left;
    font: normal normal 21px 'Do Hyeon', sans-serif;
    color: #1b7850;
}
.mypage_side_list {
  	margin-bottom: 14px;
    text-align: left;
    font: normal normal 15px 'Nanum Gothic', sans-serif;
    color: #555;
}
.mypage_side_list:hover {
    color: #1B7850;
    transition-duration: 0.3s;
}
.mypage_label {
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 27px 'Do Hyeon', sans-serif;
    color: #333;
}
.mypage_side_list_1 {
	margin-bottom: 14px;
    text-align: left;
    font: normal normal 15px 'Nanum Gothic', sans-serif;
    color: #555;
}
.mypage_side_list:hover .mypage_side_list_2 {
   display: block;
   color: #333;
}
.mypage_side_list_1:hover .mypage_side_list_2 {
   display: block;
   color: #333;
}
.mypage_side_list_2 li:hover {
   color: #1B7850;
}

.mypage_side_list_2 {
	display: none;
	padding: 3px;
	margin-left: 5px;
	margin-top: 5px;
}
.mypage_side_list_2 li {
	margin-top: 8px;
}
.mypage_side_list_1:hover .mypage_side_list_2 {
	display: block;
	color: #333;
}
.mypage_side_list_2 li:hover {
	color: #1B7850;
}
/* 마이페이지 콘텐츠 테두리부분 */

.mypage_content_box {
    /* border: 1px solid lightgray; */
    width: 1010px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 25px;
    float: left;
}
/* 마이페이지 콘텐츠 */
.mypage_content_list {
    /* border: 1px solid lightgray; */
    width: 110px;
    height: 15px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* margin-left: 30px; */
    padding-top: 10px;
    padding-left: 25px;
    float: left;
}
/* 마이페이지 메인화면 콘텐츠 리스트 */
.mypage_content_list_main2 {
    width: 220px;
    height: 140px;
    border: 1px solid lightgray;
    border-bottom: 4px solid #ffe88c;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 10px;
    float: left;
    border-radius: 10px;
}


/* -----아래로 연진님 css추가--------- */


.mypage_main{
    width: 1010px;
    height: 900px;
    margin-bottom: 30px;
	
}

.mypage_content_box {
    /* border: 1px solid lightgray;*/ 
  /*  width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
   /* width: 1010px;
    height: 200px;*/
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 25px;
    float: left;
}

/* 留덉씠�럹�씠吏� 硫붿씤�솕硫� 肄섑뀗痢� 由ъ뒪�듃 */
.mypage_content_list_main {
    border: 1px solid lightgray;
    border-bottom: 4px solid #ffe88c;
    width: 232px;
    height: 140px;
	margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 25px;
    float: left;
}

.mypage_content_list_main:hover {
   	background-color: #eee;
}

.my_sell_image {
    width: 100px;
    height: 100px;
    margin-left:0px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    overflow: hidden;
    float: left;
    
}
.my_sell_image:hover {
   /* background-color: gray;*/
    
}

.my_sell_text{
	width: 100px;
	margin-left:15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    color: #333;
    margin-top: 4px;
    margin-bottom: 8px;
	float: left;
}

.my_sell_text:hover{
	width: 100px;
	height:100px;
    /*background-color: gray;*/
	 float: left;
}

.my_sell_title{
	font-size:17px;
    margin-bottom: 8px;
}

.my_sell_addr{
	font-size: 13px;
	line-height:15px;
    margin-bottom: 15px;
}


.my_sell_price{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:#1B7850;
}

.my_ut_price_heart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.my_ut_heart_img_div {
    display: flex;
    margin-right: 5px;
}

.my_ut_heart {
    object-fit: cover;
    margin-bottom: 5px;
}
.my_ut_heart_cnt {
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 2px;
}

.my_sell_complete{
	width: 68px;
	padding: 5px 10px;
	background-color: #ddd;
}

.moreTrade{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bolder;
	width: 30px;
	height: 160px;
	margin-left: 10px;
    float: left;
    border-radius: 7px;
    border: #ccc 2px solid;
    color: #555;
}
.moreTrade:hover{
	 background-color: #1b7850;
    border: #1b7850 2px solid;
    color: white;
	
}

/*  활동 및 문의 서브바   */
/*
.mypage_side_list_1 {
	margin-bottom: 14px;
    text-align: left;
    font: normal normal 13px 'Nanum Gothic', sans-serif;
    color: gray;
}
.mypage_side_list_2 {
	display: none;
}
.mypage_side_list_1:hover .mypage_side_list_2 {
	display: block;
	color: gray;
}
.mypage_side_list_2 li:hover {
	color: #043f24;
}
*/


/*  자유게시판 내가 쓴 글   */ 

#trade_board{
    width: 600px;
    margin: 140px 50px 50px 200px;
    font-family: 'Nanum Gothic', sans-serif;
    /*float:right;*/
}


#board_title{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 45px;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: #1b7850;
    font-weight: bold;
    
}

#trade_board input{ 
    float: left;
    margin-right: 10px;
    margin-left: 800px;
    margin-top: 0px;
    margin-bottom: 15px;
    /* background-color: #1b7850; */
    background-color: white;
    padding: 7px 36px;
    border: #ccc 2px solid;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

#board_title input:hover{
    /* background-color: #ffe88c;
    color: #444; */
    background-color: #1b7850;
    border: #1b7850 2px solid;
    color: white;
}

#table {
    width: 1000px;
    /* border: 1px solid black; */
    margin-top: 20px;
    text-align: center;
}

#table td{
    padding: 8px;
}
.table_top{
    background-color: rgba(255, 232, 140, 0.5);
    /* opacity : .3; */
    color: #333;
}

#pagenum{
	margin-top: 20px;
	margin-left: 480px;	
	margin-bottom: 30px;

}



/* //시공리뷰 */
.font_green {
    color: #1b7850;
}


#company_title {
    width: 1000px;
    margin:130px auto auto 250px;
    
    font-family: 'Nanum Gothic', sans-serif;
    
}

#company_title p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #333;
}

#company_title p span {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    margin-right: 5px;
}

#company_title p:nth-child(2) {
    font-weight: normal;
    font-size: 15px;
    color: #333;
    letter-spacing: -0.8px;
}


#company_title input {
    float: right;
    margin-top: 50px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #888;
    padding: 5px 40px;
    border-radius: 5px;

    color: #333;
    font-weight: bold;
    font-size: 14px;
}

#company_title input:hover {
    cursor: pointer;
    background-color: #1b7850;
    border: 1px solid #1b7850;
    color: white;
    transition-duration: 0.1s;
}

#review_content {
	width: 900px;
    height: auto;
    flex-wrap: wrap;
/*    width: 900px;
    display: flex;
    height: 500px; */
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 250px;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0px;
    /* border: 2px solid #ccc;*/
    
    /* border-top: 2px solid #1b7850; */
}

#review_content a {
    width: 400px;
    height: 180px;
    display: block;

    margin-bottom: 40px;
}

#review_content a:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}


#review_content .content_left{
	 float: left;
}
#review_content .content_right{
	 float: right;
}


#review_content a .recon_01 {
    width: 350px;
    height: 130px;
    border: 1px solid #ccc;
    border-radius: 20px;
    float: left;

    padding: 25px;
}

#review_content a .recon_01 p img {
    width: 15px;
    height: 15px;
    margin: 0;
    padding-bottom: 5px;
    float: right;
}


#review_content a .recon_01 p span {
    float: right;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333;

    margin-right: 6px;
}

#review_content a .recon_01 p span:first-child {
    float: none;
    font-size: 23px;
}

#review_content a .recon_01 p span:nth-child(2) {
    float: none;
    color: #1b7850;
    font-size: 17px;
}

#review_content a .recon_01 p:nth-child(2) {
    width: 270px;
    height: 100px;

    overflow: hidden;
    float: left;

    font-size: 13px;
    line-height: 20px;
    color: #333;

    margin-top: 15px;
}

#review_content a .recon_01 img {
    width: 200px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: -6px;

    margin-top: 15px;
    margin-left: 10px;
}

.noReview{
	margin-top: 150px;
    font-family: 'Nanum Gothic', sans-serif;
}

#move_btn2 {
    width: 150px;
    margin: 0 auto;
    margin-left: 625px;
    /*margin-top: 20px;*/
    margin-bottom: 50px;
}

#move_btn2 input {
    width: 150px;
    height: 45px;
	margin-top: 30px;
    color: #666;
    font-size: 14px;
    letter-spacing: -1px;

    background-color: white;
    border: 1px solid #ccc;
    border-top: 4px solid #1b7850;
    border-radius: 5px;
    /* border-end-start-radius: 20px; */
    /* border-end-end-radius: 20px; */
}

#move_btn2 input:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition-duration: 0.3s;
}


/*마이페이지 메인*/




